<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recruitment Application</title>
  </head>
  <body>
    {% include "./navbar.html" %}
    <div id="content">
      <div class="container">
        <!-- <div>Recruitment Application Dashboard</div> -->
        <div class="header">
          Average Income of Potential Customers who doesn't have Life-Insurance
          for Each States
        </div>
        <div id="avgIncome"></div>
        <svg id="seq1" width="580" height="40"></svg>
      </div>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.js"></script>
    <script>
      let margin = {
        top: 60,
        bottom: 40,
        left: 70,
        right: 40,
      };

      let width = 1000 - margin.left - margin.right;
      let height = 700 - margin.top - margin.bottom;

      d3.json('../static/json/us-data.json', function (error, us) {
        let projection = d3
          .geoAlbersUsa()
          .translate([width / 2, height / 2])
          .scale([1000]);
        let path = d3.geoPath().projection(projection);

        let svg = d3
          .select('#avgIncome')
          .append('svg')
          .attr('id', 'chart')
          .attr('width', width)
          .attr('height', height)
          .attr(
            'tranform',
            'translate(0' + margin.left + ',' + margin.top + ')'
          );

        let myColor = d3
          .scaleLinear()
          .range(['white', '#003f5c'])
          .domain([10, 130]);

        let tooltip = d3
          .select('#avgIncome')
          .append('div')
          .style('opacity', 0)
          .attr('class', 'tooltip')
          .style('background-color', 'white')
          .style('border', 'solid')
          .style('border-width', '2px')
          .style('border-radius', '5px')
          .style('padding', '5px');

        let mouseover = function (d) {
          tooltip.style('opacity', 1);
        };
        let mousemove = function (d) {
          const avgIncome = d.properties.value * 1000;
          tooltip
            .html(`Average income for ${d.properties.name} is $${avgIncome}`)
            .style('top', d3.event.pageY - 10 + 'px')
            .style('left', d3.event.pageX + 10 + 'px');
        };
        let mouseleave = function (d) {
          tooltip.style('opacity', 0);
        };

        d3.json('/averageIncome', function (json) {
          for (let i = 0; i < json.averageIncome.length; i++) {
            let dataState = json.averageIncome[i].state;
            let dataValue = parseFloat(
              json.averageIncome[i].avg_income
            ).toFixed(2);
            for (let n = 0; n < us.features.length; n++) {
              let jsonState = us.features[n].properties.abbr;
              if (dataState == jsonState) {
                us.features[n].properties.value = dataValue;
                break;
              }
            }
          }

          svg
            .selectAll('path')
            .data(us.features)
            .enter()
            .append('path')
            .attr('d', path)
            .attr('stroke', 'white')
            .attr('stroke-linejoin', 'round')
            .style('fill', function (d) {
              let value = d.properties.value;
              return myColor(value);
            })
            .on('mouseover', mouseover)
            .on('mousemove', mousemove)
            .on('mouseleave', mouseleave);
        });

        var colorA = '#003f5c',
          colorB = 'white';

        function drawScale(id, interpolator) {
          var data = Array.from(Array(100).keys());

          var cScale = d3
            .scaleSequential()
            .interpolator(interpolator)
            .domain([0, 99]);

          var xScale = d3.scaleLinear().domain([0, 100]).range([0, 500]);

          var u = d3
            .select('#' + id)
            .selectAll('rect')
            .data(data)
            .enter()
            .append('rect')
            .attr('x', (d) => Math.floor(xScale(d)))
            .attr('y', 0)
            .attr('height', 40)
            .attr('width', (d) => {
              if (d == 99) {
                return 6;
              }
              return Math.floor(xScale(d + 1)) - Math.floor(xScale(d)) + 1;
            })
            .attr('fill', (d) => cScale(d));
        }

        drawScale('seq1', d3.interpolate(colorA, colorB));
      });
    </script>
  </body>
</html>
