<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recruitment Application</title>
  </head>
  <body>
    {% include "./navbar.html" %}
    <div id="content">
      <div class="header">Recruitment Application Dashboard</div>
      <h2>Max Income</h2>
      <div id="viz">
        <ul></ul>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
      console.log(d3);
      // d3.json('/api/avg_income', function (json) {
      //   console.log(json);
      //   d3.select('#viz ul')
      //     .selectAll('li')
      //     .data(json.data)
      //     .enter()
      //     .append('li')
      //     .text(function (d) {
      //       return d.gender + ': ' + d.max_income;
      //     });
      // });
    </script>
  </body>
</html>
