<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recruitment Application</title>
  </head>
  <body>
    {% include "./navbar.html" %}
    <div class="container">
      <div class="header">
        Insurance Segment
      </div>
      <label
        >Please choose an option for comparision:
        <select class="compare" name="compare">
          <option value="">Select One …</option>
          <option value="education">Education</option>
          <option value="race">Race</option>
        </select>
      </label>
      <div id="insuranceSegment" class="insuranceSegment"></div>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../static/graphs/insuranceSegment.js"></script>
  </body>
</html>
