<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recruitment Application</title>
  </head>
  <body>
    {% include "./navbar.html" %}
    <div class="container">
      <div class="header">
        Social Media Usage Heatmap for Target-Ad on Youtube/Facebook
      </div>
      <label
        >Please choose an ad-platform:
        <select class="ad-platform" name="ad-platform">
          <option value="">Select One …</option>
          <option value="facebook">Facebook</option>
          <option value="youtube">Youtube</option>
        </select>
      </label>
      <div class="info"></div>
      <div id="social_media" class="social_media"></div>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../static/graphs/heatmap.js"></script>
  </body>
</html>
