<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recruitment Application</title>
  </head>
  <body>
    {% include "./navbar.html" %}
    <div class="container">
      <div class="header">
        Social Media Usage Heatmap
      </div>
      <div class="sub-header">
        The Heatmap shows usage of Facebook/youtube with different income
        groups. These user groups can be divided into further based on
        requirements. For example, with higher economic stability and higher
        usage rank, they can be targetted with premium insurance ads. On the
        other hand, the middle economic bucket can be targetted with the
        appropriate insurance segment.
      </div>
      <div class="ad-platform-container">
        <label
          >Please choose an ad-platform:
          <select class="ad-platform" name="ad-platform">
            <option value="">Select One …</option>
            <option value="youtube">Youtube</option>
            <option value="facebook">Facebook</option>
          </select>
        </label>
      </div>
      <div id="social_media" class="social_media"></div>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../static/graphs/heatmap.js"></script>
  </body>
</html>
